$font-family-sans-serif: 'Merriweather Sans', Helvetica, sans-serif;

@mixin tablet {
  @media screen and (min-width: $bpMinTablet), print {
    @content;
  }
}


.App {
  text-align: center;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  font: {
    family: $font-family-sans-serif;
    size: 16px;
    weight: 400;
  }
}

input {
  padding: 10px 5px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #d3d3d3;

  @include tablet {
    padding: 10px 12px;
  }
}

/* Style for hCard Builder */
.card-container {
  position:relative;
  width: 45%;
  height: 1000px;
  float:left;
}
h6, h1 {
  text-align: left;
  font-weight: bold;
}
h1 {
  margin-top: 70px;
  margin-bottom: 50px;
}
h6 {
  color: #ccc;
}
.card-content {
  margin: 0 30px;
}
.name{
float:left;
padding: 0;
}
.builder-input {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}

/* Style for Preview Card */
.preview-container {
  position:relative;
  width: 55%;
  height: 1100px;
  float:right;
  background-color:#E0E5E8;
}
h4 {
  margin-top: 170px;
  color: #aaa;
}
.header {
  width: 90%;
  text-align: right;
}
.header-container {
  width: 50%;
  height: 50%;
  float:left;
}
.header-name {
  font-weight: bold;
  font-family: "Times New Roman", serif;
  font-size: 30px;
  color: #fff;
  text-align:left;
  padding: 30px;
  margin-top: 50px;
}
.preview-card {
  position: relative;
  width: 80%;
  height:27%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 2px #3f515d;
}
.preview-card-header {
  position:absoute;
  width: 80%;
  height:20vh;
  background-color: #677279;
  margin: 0 auto;
}
.preview-content {
  margin: 0 30px;
}
.input {
  border:none;
  border-bottom: 1px solid black;
}
.form-style-4{
	/* font-size: 16px; */
  padding-top: 30px;
}
.form-style-4 input[type=text],
.form-style-4 label
{
  font-family: "Times New Roman", serif;
	font-size: 13px;
	color: black;
}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	/* float: left; */
	/* width:; */
  margin-right: 50px;
}
.form-style-4 label > span.span-address{
  margin-right: 35px;
}
.form-style-4 input[type=text]
{
	width:30vw;
  border: none;
	padding: 0;
  /* margin-right: 10px; */
  font-size: 20px;
}
.card-item {
  text-align: left;
  width: 100%;
}
.span1{
  margin-left: 50px;
}
.grid-container {
  position:relative;
  display: flex;
  grid-template-columns: 40% 40%;
  margin-right: 20px;
  float:left;
}
.grid-container label > span{
  margin-right: 25px;
  font-size:13px;
  font-family: "Times New Roman", serif;
}
.grid-container label
{
	color: black;
  margin-right: 40px;
  border-bottom: 0.1px solid #dbe0e2;
}
.grid-container input[type=text]
{
	width:13vw;
  border: none;
	padding: 0;
  /* margin-right: 10px; */
  font-size: 20px;
  border-bottom: 0.5px solid #dbe0e2;
  font-family: "Times New Roman", serif;
  text-transform: capitalize;
}
.country {
  margin-left: -40px;
}
.form-input {
  width: 10vw;
}
hr {
  margin-top: -10px;
}
label>hr {
  margin-top: -10px;
}
/* .photo {
  float:right;
} */
.email{
  text-transform: lowercase;
}

.avatar-container {
  background-color: white;
  position: absolute;
  right: 13%;
  top: 20%;
  box-shadow: 0px 1px 0px 1px rgba(154, 154, 154, 0.75);
  /* width: 120px; */
  width: 8rem;
  /* height: 140px; */
  height: 9rem;
  z-index: 50;

}
img {
  margin-top: 15px;
  width: 100%;
  height: 80%;
  padding: 0 5px;
}
/* img {
  border: 1px solid black;
  border-radius: 2px;
  width: 150px; */
  /* float:right; */
  /* margin-top:40px;
  margin-right: 20px;
  z-index: 50;
  position: absolute;
} */
/* style for buttons */
.button {
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: 150%;
}
.create {
  background-color: #35A1DE;
}
.avatar {
  background-color: #798D99;
}

/* S */
@media screen and (min-width: 500px) and (max-width: 767px) {
  body{

  }
  /* .preview-card {
    height:33%;
  }
  .form-style-4 input[type=text]
  {
    font-size: 13px;
    margin-right:0;
  }
  .grid-container {
    position:relative;
    display: block;
    text-align: left;
    margin-right: 120px;
  }
  img {
    border: 1px solid black;
    border-radius: 2px;
    width: 70px;
    float:right;
    margin-top:30px;
    margin-right: 10px;
  }
  .header-name {
    font-size: 15px;
    padding: 20px;
    margin-top: 40px;
  }
  .preview-card-header {
    height:10%;
  }
  .name{
  font-size: 10px;
  }
  .builder-input {
    font-size: 13px;
  }
  .button {
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
  }
h1{
  font-size: 25px;
}
h4 {
  font-size: 20px;
} */
}
