.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}
/* Style for hCard Builder */
.card-container {
  position:relative;
  width: 45%;
  height:900px;
  float:left;
}
h6, h1 {
  text-align: left;
  font-weight: bold;
}
h1 {
  margin-top: 70px;
  margin-bottom: 50px;
}
h6 {
  color: #ccc;
}
.card-content {
  margin: 0 30px;
}
.name{
float:left;
padding: 0;
}
.builder-input {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}

/* Style for Preview Card */
.preview-container {
  position:relative;
  width: 55%;
  height: 900px;
  float:right;
  background-color:#E0E5E8;
}
h4 {
  margin-top: 170px;
  color: #aaa;
}
.header {
  width: 90%;
  text-align: right;
}
.header-container {
  width: 50%;
  height: 50%;
  float:left;
}
.header-name {
  font-weight: bold;
  font-family: "Times New Roman", serif;
  font-size: 30px;
  color: #fff;
  text-align:left;
  padding: 30px;
  margin-top: 70px;
}
.preview-card {
  position: relative;
  width: 80%;
  height:30%;
  background-color: white;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
.preview-card-header {
  position:absoute;
  width: 80%;
  height:20%;
  background-color: #677279;
  margin: 0 auto;
}
.preview-content {
  margin: 0 30px;
}
.input {
  border:none;
  border-bottom: 1px solid black;
}
.form-style-4{
	font-size: 16px;
  padding-top: 30px;
}
.form-style-4 input[type=text],
.form-style-4 label
{
  font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: black;
}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 10%;
}
.form-style-4 input[type=text]
{
	background: transparent;
	border: none;
	width: 70%;
	outline: none;
	padding: 0;
  margin-right: 30px;
  font-size: 20px;
}
.grid-container {
  position:relative;
  display: flex;
  grid-template-columns: 40% 40%;
  margin-top:0;
}
.country {
  float:right;
}
.form-input {
  text-align: center;
}
.span {
  text-align: left;
}
hr {
  margin-top: -10px;
}
.photo {
  float:right;
}
img {
  border: 1px solid black;
  border-radius: 2px;
  width: 150px;
  float:right;
  margin-top:40px;
  margin-right: 20px;
}
/* style for buttons */
.button {
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: 150%;
}
.create {
  background-color: #35A1DE;
}
.avatar {
  background-color: #798D99;
}

/* S */
@media screen and (min-width: 500px) and (max-width: 767px) {
  .preview-card {
    height:33%;
  }
  .form-style-4 input[type=text]
  {
    font-size: 13px;
    margin-right:0;
  }
  .grid-container {
    position:relative;
    display: block;
    text-align: left;
    margin-right: 120px;
  }
  img {
    border: 1px solid black;
    border-radius: 2px;
    width: 70px;
    float:right;
    margin-top:30px;
    margin-right: 10px;
  }
  .header-name {
    font-size: 15px;
    padding: 20px;
    margin-top: 40px;
  }
  .preview-card-header {
    height:10%;
  }
  .name{
  font-size: 10px;
  }
  .builder-input {
    font-size: 13px;
  }
  .button {
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
  }
h1{
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
}
